.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(47, 47, 138);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input {
  height: 3em;
  border: none;
  border-radius: .5em;
  text-indent: 1em;
}

input:focus {
  border: 1px solid yellow;
  outline: 0;
}