.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding-top: 5em;
  background-color: rgb(47, 47, 138);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input[type="text"],
input[type="email"],
textarea {
  height: 3em;
  width: 15em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border: none;
  border-radius: .25em;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: rgb(234, 238, 240);
  box-shadow: .10em .05em .10em rgba(234, 238, 240, .9);
  outline: 0;
}

textarea {
  height: 10em;
  padding: .5em 1em;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: .5em;
  font-size: 1rem;
  color: #fff;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 1em;
  background-color: #fff;
}

fieldset {
  padding: 1em;
  color: #fff;
}